<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <p>Put some other content in here that is helpful in some way!</p>

    {{> footer}}
</body>

</html>