<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <ol>
        {{#each projects}}
            <li>{{this.name}} - {{this.author}}</li>
        {{/each}}
    </ol>

    {{> footer}}
</body>

</html>